<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ asset('stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <link href="{{ asset('stylesheets/ie.css') }} " media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

    </head>
    <body>
    <div class="container">
        <header>

            <!-- Navigation
            ================================================== -->
<nav class="navigation">
    <div class="logo">
        <a href="/">Maxime Raguideau</a>
    </div>
    <div class="nav-right">
        <ul class="navigation-liens-droite">
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
        </header>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    </div>
</html>
