<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maxime Raguideau{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ asset('stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <link href="{{ asset('stylesheets/ie.css') }} " media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        {% block bootstrap %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <header>

            <!-- Navigation
            ================================================== -->
<nav class="navigation">
    <div class="logo">
        <a href="{% block retour %}/{% endblock %}">Maxime Raguideau</a>
    </div>
    <div class="nav-right">
        <ul class="navigation-liens-droite">
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
        </header>
            {% block body %}{% endblock %}
        <footer>
            <div class="footer">
<p>Copyright © 2017 Maxime Raguideau. All rights reserved.</p>
            </div>
        </footer>

        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
            {% block javascripts %}
            {% endblock %}
        </body>
    </div>
</html>
