{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="content">
        <div class="content-form">
        <h1>Article creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="editer" type="submit" value="Créer" />
        {{ form_end(form) }}

    </div>
    </div>
{% endblock %}
