/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/import/_global.scss */
a {
  text-decoration: none;
}
/* line 12, ../sass/import/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 21, ../sass/import/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/import/_global.scss */
html {
  background: white;
  position: relative;
}

/* line 22, ../sass/import/_global.scss */
.content {
  margin-top: 70px;
}

/* line 25, ../sass/import/_global.scss */
.container {
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

/* line 31, ../sass/import/_global.scss */
.carouss {
  margin-top: 0;
  padding-top: 0;
  position: relative;
}
/* line 35, ../sass/import/_global.scss */
.carouss img {
  width: 100%;
}
/* line 38, ../sass/import/_global.scss */
.carouss .black-bandeau {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 200px;
  bottom: 0;
  z-index: 10;
  position: absolute;
}
/* line 45, ../sass/import/_global.scss */
.carouss .black-bandeau p, .carouss .black-bandeau h1 {
  text-align: center;
  color: white;
  line-height: 200px;
  font-size: 20px;
}

/* line 2, ../sass/import/_header.scss */
header {
  background-color: white;
  color: #82868f;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
/* line 11, ../sass/import/_header.scss */
header .navigation {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
header .navigation:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 14, ../sass/import/_header.scss */
header div {
  display: inline-block;
}
/* line 18, ../sass/import/_header.scss */
header a {
  color: #82868f;
  font-style: none;
  text-decoration: none;
}
/* line 22, ../sass/import/_header.scss */
header a:hover {
  text-decoration: none;
  color: #000;
}
/* line 27, ../sass/import/_header.scss */
header ul li {
  display: inline-block;
}
/* line 30, ../sass/import/_header.scss */
header .logo {
  font-size: 25px;
  line-height: 70px;
  padding-left: 70px;
}
/* line 38, ../sass/import/_header.scss */
header .nav-right {
  float: right;
  padding-right: 115px;
  line-height: 70px;
}
/* line 42, ../sass/import/_header.scss */
header .nav-right li {
  height: 30px;
}
/* line 46, ../sass/import/_header.scss */
header .nav-right a {
  line-height: 30px;
  display: block;
  text-align: center;
  margin-right: 25px;
  font-size: 18px;
  width: 120px;
}
/* line 53, ../sass/import/_header.scss */
header .nav-right a:hover, header .nav-right a:focus {
  text-decoration: none;
  background-color: #44e1ff;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

/* line 5, ../sass/import/_index.scss */
.content-index .presentation {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding-bottom: 40px;
  z-index: 8;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
.content-index .presentation:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 13, ../sass/import/_index.scss */
.content-index .presentation article {
  text-align: justify;
  display: inline-block;
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding: 80px 30px;
  color: #82868f;
}
/* line 21, ../sass/import/_index.scss */
.content-index .presentation article h2 {
  padding: 15px 0;
  font-size: 20px;
  color: black;
}
/* line 28, ../sass/import/_index.scss */
.content-index .projets {
  background: #f2f2f2;
  padding: 80px;
  text-align: center;
  margin: auto;
  position: relative;
}
/* line 34, ../sass/import/_index.scss */
.content-index .projets:before {
  content: '';
  display: block;
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  z-index: 1;
}
/* line 48, ../sass/import/_index.scss */
.content-index .projets:after {
  content: '';
  display: block;
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  z-index: 2;
}
/* line 61, ../sass/import/_index.scss */
.content-index .projets .projets-list {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
  text-align: center;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
.content-index .projets .projets-list:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 67, ../sass/import/_index.scss */
.content-index .projets .case-projet {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-bottom: 30px;
}
/* line 74, ../sass/import/_index.scss */
.content-index .projets .case-projet img {
  width: 100%;
}
/* line 78, ../sass/import/_index.scss */
.content-index .projets .case-projet .legende-projet {
  margin-top: -2px;
  background: white;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  color: #82868f;
}
/* line 91, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires {
  background: #4c4c4c;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}
/* line 98, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires:after {
  content: '';
  display: block;
  background: #4c4c4c;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  z-index: 1;
}
/* line 112, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
.content-index .bloc-contact-partenaires .contact-partenaires:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 114, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact, .content-index .bloc-contact-partenaires .contact-partenaires .partenaires {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  z-index: 3;
}
/* line 120, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact h2, .content-index .bloc-contact-partenaires .contact-partenaires .partenaires h2 {
  color: white;
  font-size: 20px;
}
/* line 125, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .partenaires {
  height: 100%;
}
/* line 128, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .partenaires img {
  margin-top: 30px;
  max-height: 300px;
  max-width: 100%;
}
/* line 135, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact form {
  width: 100%;
  text-align: left;
}
/* line 138, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact form input {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  color: #82868f;
}
/* line 144, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact form textarea {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
}
/* line 149, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact form input[type='submit'] {
  width: 100px;
  background-color: #44e1ff;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  float: right;
}
/* line 157, ../sass/import/_index.scss */
.content-index .bloc-contact-partenaires .contact-partenaires .contact form input[type='submit']:hover {
  background-color: #00badd;
}

/* line 3, ../sass/import/_projet.scss */
.content-projet .presentation-projet {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding-bottom: 40px;
}
/* line 10, ../sass/import/_projet.scss */
.content-projet .presentation-projet article {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: inline-block;
  width: 100%;
  padding: 80px;
  color: #82868f;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
.content-projet .presentation-projet article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/import/_projet.scss */
.content-projet .presentation-projet article h2 {
  padding: 15px 0;
  font-size: 20px;
  color: black;
}
/* line 25, ../sass/import/_projet.scss */
.content-projet .bloc-categorie {
  background: #4c4c4c;
}
/* line 28, ../sass/import/_projet.scss */
.content-projet .categorie {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 12, ../sass/import/susy/output/support/_clearfix.scss */
.content-projet .categorie:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 33, ../sass/import/_projet.scss */
.content-projet .categorie .case-categorie {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  background: #f2f2f2;
  height: 200px;
  line-height: 200px;
}
/* line 38, ../sass/import/_projet.scss */
.content-projet .categorie .case-categorie ul li {
  display: inline;
}
/* line 40, ../sass/import/_projet.scss */
.content-projet .categorie .case-categorie ul li:last-child a {
  font-size: small;
  color: red;
}
/* line 47, ../sass/import/_projet.scss */
.content-projet .categorie a {
  text-decoration: none;
  color: #82868f;
  font-size: 20px;
}
/* line 53, ../sass/import/_projet.scss */
.content-projet .categorie a:hover {
  text-decoration: none;
}

/* line 5, ../sass/import/admin/_index.scss */
.content-index .projets-list h2 {
  color: #82868f;
  z-index: 3;
  padding: 30px;
}
/* line 9, ../sass/import/admin/_index.scss */
.content-index .projets-list h2 a {
  z-index: 3;
  text-decoration: none;
  color: #82868f;
}
/* line 13, ../sass/import/admin/_index.scss */
.content-index .projets-list h2 a:hover {
  text-decoration: none;
}
/* line 18, ../sass/import/admin/_index.scss */
.content-index .projets-list a {
  text-decoration: none;
  color: #82868f;
}
/* line 21, ../sass/import/admin/_index.scss */
.content-index .projets-list a:hover {
  text-decoration: none;
}
