h2.create {
  color: white;
  margin-bottom: 15px;
  a{
    font-size: 20px;
    padding: 10px;
    background: darken($blue,20%);
    border-radius: 5px;
    color: white !important;
    &:hover{
      background: darken($blue,40%);
      cursor: pointer;
    }
  }

}
a.editer{
  text-align: center;
  display: block;
  color: white !important;
  padding: 10px;
  background: $blue;
  line-height: normal;
  margin-top:10px;
  margin-bottom: 10px;
  &:hover{
    background: darken($blue,20%);
  }
}
input.editer,input.delete,a.retour{
  color: white !important;
  display: inline-block;
  padding: 5px;
  width: 100px;
  border:none;
}
input.editer{
  background: $blue;
  &:hover{
    background: darken($blue,10%);
  }
}
input.delete{
  background: red;
  float: right;
  &:hover{
    background: darken(red,20%);
  }
}
a.retour{
  display: block;
  background: darken($blue,30%);
  text-align: center;
  &:hover{
    background: darken($blue,60%);
  }
}