{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="content">
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projet_edit',{ 'id':categories[0].projet}) }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
