{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="content content-form">
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="editer" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projet_edit',{ 'id':idProjet}) }}">Retour à la liste</a>
        </li>
    </ul>
    </div>
{% endblock %}
