.btn-ajoutCom{
  display: block;
  background: dimgrey;
  color: white;
  padding: 15px;
  &:hover{
    cursor: pointer;
    background: darken(dimgray,20%);
  }
}
.bloc-commentaire{
  width: 100%;
  .commentaire{
    padding: 30px;
    background: $bloc-gris-clair;
    margin-top: 30px;
    border:1px solid $bloc-gris-fonce;
  }
  #blogbundle_commentaires{
    margin-top: 30px;
    width: 100%;
    .form-group{
      width: 100%;
      &:nth-of-type(2){
        display:none;
      }
    }
  }

}