@import "susy";
$susy: (
        container:1160px,
        columns: 12,
        math: fluid,
        output: float,
        gutter-position: split,
);

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

@include border-box-sizing();
html{
  background: white;
  position: relative;
}
.content{
  margin-top: 70px;
}
.container{

  margin:0 auto;
  z-index:10;
  position: relative;
}
.carouss{
  margin-top: 0;
  padding-top: 0;
  position: relative;
  img{
    width: 100%;
  }
  .black-bandeau{
    width: 100%;
    background-color: rgba(0,0,0,0.40);
    height: 200px;
    bottom: 0;
    z-index:10;
    position: absolute;
    p,h1{
      text-align: center;
      color: white;
      line-height:200px;
      font-size: 20px;
    }
  }

}