@import "susy";
$susy: (
        container:1160px,
        columns: 12,
        math: fluid,
        output: float,
        gutter-position: split,
);

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

@include border-box-sizing();
html{
  position: relative;
  height: 100%;
  font-family: "Calibri";
}
body{
height: 100%;
}

.content{
  padding-top: 70px;
  padding-bottom: 120px;
}
.container{
min-height:100%;
  margin:0 auto;
  z-index:10;
  position: relative;
}
strong{
  font-weight:bold;
}
table{
  width: 100% !important;
}
iframe{
  max-width:100%;
}
article{
  overflow: auto;
}