.content-projet {

  .presentation-projet {

    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: white;
    padding-bottom: 40px;
    article {
      @include container(1160px);
      text-align: justify;
      display: inline-block;
      width: 100%;
      padding: 10px;
      color: $text-gris;

      h2 {
        padding: 15px 0;
        font-size: 20px;
        color: black;
      }
    }
  }
  .bloc-categorie {
    background: $bloc-gris-fonce;
  }
  .categorie {
    @include container(1160px);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    .case-categorie {
      @include span(4 of 12);
      background: $bloc-gris-clair;
      height: 200px;
      line-height: 200px;
      margin-top: 15px;
      margin-bottom: 15px;
      ul li {
        display: inline;
        &:last-child a {
          font-size: small;
          color: red;
        }
      }
    }

    a {

      text-decoration: none;
      color: $text-gris;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }

    }
  }
}
@media (min-width: 1000px) {
  .content-projet{
    .presentation-projet{
      article{
        padding: 80px;
      }
    }
  }

}